<!DOCTYPE html>
<html>
    <head>
        <title>New Reply notification</title>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=devire-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Hello <%= name %>,</h1>
        <p>A new reply has been added to your question in the video "<%= title %>"</p>
        <p>Please login to our website to view the reply and continue the discussion</p>
        <p>Thank you for being a part of our community!</p>
    </body>
</html>
